body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#f5f5f5;
}

.login-container{
  display:flex;
  height:100vh;
}

/* LEFT SIDE */

.left-section{
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  border-right:1px solid #ddd;
}

.brand{
  font-size:40px;
}

.tagline{
  font-size:22px;
  text-align:center;
}

.tagline span{
  color:#ff2f7a;
}

/* RIGHT SIDE */

.right-section{
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.right-section form{
  display:flex;
  flex-direction:column;
  width:300px;
  gap:12px;
}

input{
  padding:12px;
  border-radius:8px;
  border:1px solid #ccc;
}

button{
  padding:12px;
  border-radius:8px;
  border:none;
  background:#4c6ef5;
  color:white;
  cursor:pointer;
}

.facebook-btn{
  margin-top:15px;
  background:#eaeaea;
  color:black;
}

.signup-btn{
  margin-top:10px;
  background:white;
  border:1px solid #4c6ef5;
  color:#4c6ef5;
}

.forgot{
  margin-top:10px;
  font-size:14px;
  cursor:pointer;
}

/* MOBILE */

@media(max-width:768px){

.login-container{
  flex-direction:column;
}

.left-section{
  border-right:none;
  border-bottom:1px solid #ddd;
  height:40%;
}

.right-section{
  height:60%;
}

}